*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
tools/stockfish/stockfish-ubuntu-x86-64-bmi2 filter=lfs diff=lfs merge=lfs -text
